<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kd.One">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.AUDIO_SETTING" />
    <uses-permission android:name="android.permission.PHONE_CALLS" />
    <uses-permission android:name="android.permission.MICROPHONE" />

    <application
        android:name=".Main.MainApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Login.TestAgreeActivity"></activity>
        <activity android:name=".Info.RecordEachActivity" />
        <activity android:name=".Info.RecordActivity" />
        <activity
            android:name=".sip.SmartHomeviewActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" /> <!-- <service android:name=".Service.HomeTokMessagingService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <!-- <service android:name=".Service.HomeTokInstanceIdService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service
            android:name=".Service.HomeTokService"
            android:enabled="true"
            android:exported="true" />
        <service android:name=".Service.FingerPushService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Login.IntroActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Login.ComplexActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login.AgreeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login.RegistActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login.CertifyActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Main.MainFragment"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Control.LightActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Control.GasActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Control.StandbypowerActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Control.VentilationActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Control.HeatActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Info.NoticeActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Info.VisitorActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Info.VisitorEachActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Setup.HelpActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Setup.VersionActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Setup.MemberActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login.FindActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Login.AgreeCheckActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Setup.PushSettingActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>